<div class="row">
    <form action="/days" method="get">
<h1> working days of waiters </h1>
<table>
    <tr> 
        
        <th>Name</th>
    </tr>
    {{#each actions}}
    <tr>
        <td><a href="/count/{{names}}">{{names}}</a></td>
    </tr>
    {{/each}}
</table>
 <button class="resetButton" type="submit" name="reset" value="Reset">Reset</button>
   <button class="showButton" type="submit" name="show" value="Show">FILTER BUTTON</button>
<form action="/back" method="POST">
<button class="back" name="BackButton" type="submit" onclick="" value ="back">back</button>
</form>
</form>
</div>