<div class="">
<form action="/waiters/:username" method="POST">
    <h1>Waiters</h1>
    <div class="col-7">
        {{message}}
    </div>
    
    <div class ="col-11">Enter your name:
        <input type="text" class="waiter"  pattern="[A-Za-z//s]*" placeholder="eg Jason" name="waiters" value="" id="field_1"> 
    </div>

    <div class = "col-10">
        
            <button id="login" type="submit" name="Add" value="add">Login</button>

  </form>

   
    </div>
  