</form>
<form action="/waiters/:username" method="get">

<h3>Hello {{names}}</h3>
    <div class="col-9"></div>
    
      <label> <input type="checkbox" name="daysOfweek" value="Monday"> Monday</label>
        <label><input type="checkbox" name="daysOfweek" value="Tuesday"> Tuesday</label>
       <label> <input type="checkbox" name="daysOfweek" value="Wednesday"> Wednesday</label>
       <label> <input type="checkbox" name="daysOfweek" value="Thursday"> Thursday</label>
        <label><input type="checkbox" name="daysOfweek" value="Friday"> Friday</label>
     <label><input type="checkbox" name="daysOfweek" value="Saturday"> Saturday</label>
         <label><input type="checkbox" name="daysOfweek" value="Sunday">Sunday</label>
       <label><input type="checkbox" name="daysOfweek" Value="" id="id" checked>SelectAll</label>
     
    </div>

    <div class="col-8">
              <button id="login" type="submit" name="Add" value="submit">submit</button>

     
    </div>
    </form>